body {
    margin: 0;
    background-color: #000;

}

#root {
    margin: 0;
    padding: 0;
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}
