@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/VendorsList.css);

html {
  overflow-y: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.1;
  overflow-y: hidden;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  min-height: 50px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}



b {
  font-weight: 500;
}

/* Стили просмоторщика изображений */

.ant-image-preview-root>.ant-image-preview-mask {
  z-index: 1200;
}

.ant-image-preview-root>.ant-image-preview-wrap {
  z-index: 1250;
}

.ant-image-preview-operations-wrapper {
  z-index: 1260;
}

.ant-image-preview-root>.ant-image-preview-wrap>.ant-image-preview>.ant-image-preview-content>.ant-image-preview-body>.ant-image-preview-img-wrapper>.ant-image-preview-img {
  max-height: 89%;
}

/* Стили тултипа */

.ant-tooltip {
  max-width: fit-content;
}

.ant-tooltip>.ant-tooltip-content>.ant-tooltip-arrow {
  display: none;
}

.ant-tooltip>.ant-tooltip-content>.ant-tooltip-inner {
  min-width: auto;
  min-height: auto;
  padding: 4px 8px;
  font-size: 12px;
}

.date-picker-custom {
  padding: 0;
}

.date-picker-custom>.ant-popover-content>.ant-popover-arrow {
  display: none;
}

.ant-popconfirm>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content {
  padding: 3px 9px;
}

.ant-popconfirm>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content>.ant-popover-message {
  padding: 0;
}

.ant-popconfirm>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content>.ant-popover-buttons {
  padding: 0;
}

.ant-popconfirm>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content>.ant-popover-buttons>.ant-btn {
  font-size: 13px;
  width: 38px;
  line-height: 1.1;
  height: 20px;
}

.ant-badge {
  color: inherit;
}

/* Стили Popover */

.ant-popover {
  z-index: 1051;
}

/*CreateFormMultiSelect*/
.custom-option-item .ant-select-item-option-content {
  display: flex !important;
  align-items: center !important;
  gap: 3px !important;
}

.ant-select-tree .ant-select-tree-treenode-disabled .ant-select-tree-node-content-wrapper {
  color: #000;
  cursor: default;
}

.ant-message {
  z-index: 1500;
}

.ant-picker-dropdown {
  z-index: 1051;
}

.ant-select-selection-item {
  white-space: normal !important;
  word-break: break-all;
}

/* Стили ButtonPopover */

.button-popover {
  padding-top: 0;
}

.button-popover>.ant-popover-content>.ant-popover-inner>.ant-popover-inner-content {
  padding: 8px;
}

/* Стиль скролла у textarea */

textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

textarea::-webkit-scrollbar-thumb {
  min-height: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

textarea::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.ant-form.ant-form-vertical .ant-row.ant-form-item-row .ant-col.ant-form-item-label {
  padding: 0;
}

.ant-form.ant-form-vertical .ant-row.ant-form-item-row .ant-col.ant-form-item-label label {
  font-size: 14px;
}

.ant-form.ant-form-vertical .ant-form-item .ant-row.ant-form-item-row .ant-col.ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-input-number-group-wrapper {
  width: 100%;
}
